<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <hgroup>
        <h1>Gabbys Dull Site</h1>
    </hgroup>
    <nav class="navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/">RECIPES</a></li>
                    <li><a href="/">HOUSEKEEPING</a></li>
                    <li><a href="/">DECOR</a></li>
                    <li><a href="/">GARDENING</a></li>
                    <li><i class="fa fa-search fa-2x"></i></li>
                </ul>
                
            </div>
    </nav>
    
    
    @RenderBody()
        
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            @Html.Partial("_LoginPartial")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
